#container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 100px 250px;
  grid-gap: 10px;
}

.grid-cell {
  background-color: blue;
  outline: 3px solid black;
}

#header {
  grid-column-start: 1;
  grid-column-end: last;
  text-align: center;
}

#item_1 {
  grid-column-start: 1;
  grid-column-end: 5;
}

#item_2 {
  grid-column-start: 5;
  grid-column-end: 9;
}

#item_3 {
  grid-column-start: 9;
  grid-column-end: last;
}
#resultList {
  grid-column-start: 4;
  grid-column-end: 10;
}